@font-face {
    font-family: iranssans;
    src: url(./../src/fonts/IRANSans.ttf);
}

body {
    direction: rtl;
    font-family: iranssans;
}

a,
p,
span,
li {
    font-family: inherit;
}

.container {
    max-width: 1400px;
    margin: 0 auto;

}

.about-me {
    width: 100%;
    height: 50px;
    background-color: #ee384e47;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}